@font-face {
    font-family: FONTTI;
    src: url("fonttitiedostonsijainti") format("truetype");
}

html {
    font-family: FONTTI, Arial, Helvetica, sans-serif;
}

body {
    background-image: url("taustakuva");
    background-size: cover;
    background-attachment: fixed;
    margin: 0em;
}