@font-face {
    font-family: Jersey, Arial, Helvetica, sans-serif;
    src: url("../static/font/Jersey15-Regular.ttf") format("truetype");
}

html {
    font-family: Jersey, Arial, Helvetica, sans-serif;
    color: var(--bundaberg-sand);
    cursor: url(../static/images/airplanecursor.svg), auto;
}

:root {
    --bundaberg-sand:#FFC18E;
    --middle-safflower:#CA4E79;
    --grape-kiss: rgb(122, 64, 105);
    --chive-bloom: rgba(81, 50, 82, 0.75);
}
/* BODY äyh*/
body {
    background-image: url("../static/images/background2.png");
    background-size: cover;
    background-attachment: fixed;
    margin: 0em;
}

/* ------------------------------------------
   |         Yläpalkki / navbar             |
   -----------------------------------------
*/
.navbar {
    background-color: rgba(122, 64, 105, 0.75);
    padding: 0em;
    display: grid;
    grid-template-areas:
        'logo nav nav nav';
}
.navbar a {
    color: var(--bundaberg-sand);
    text-align: center;
    text-decoration: none;
    font-size: 2.5em;
    padding: 0.30em;
    background-color: rgba(122, 64, 105, 0.75);
}
.navbar a:hover {
    background-color: var(--chive-bloom);
    color: var(--bundaberg-sand);
}
#fqlogo {
    padding-top: 5px;
}
/* ------------------------------------------
  |               -  main -                 |
  |                                         |
  |         sivun pohja / .layout           |
  |                                         |
  |                                         |
   ------------------------------------------
*/

.fqtitle{
    display: block;
    margin: auto;
    padding-top: 1rem;
}
/*  ---------------------------
   |                          |
   |       - POP UP -         |
   |                          |
   ----------------------------
*/
.helpbutton{
    float: right;
    margin-right: 12rem;
    background: none;
    border:none;
    cursor: pointer;
}

.helppop {
    width: 50rem;
    background: white;
    border-color: black;
    border-style: solid;
    border-radius: 1px;
    position: absolute;
    top: 75%; /*korkeus*/
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 1000; /*TÄÄ TUO SEN TON MÄPIN PÄÄLLE*/
}

.helppop h1{
    font-size: 38px;
    text-align: left;
}

.helppop p{
    font-size: 22px;
    text-align: left;
}

.helppop h2{
    font-size: 30px;
    text-align: left;
}

.onnipop {
    float: right;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.open-helppop{
    visibility: visible;
    top: 75%; /*korkeus*/
    transform: translate(-50%, -50%) scale(1);
}

.helppop button{
    width: 10%;
    margin-top: 50px;
    padding: 10px 0;
    background: var(--middle-safflower);
    color: black;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

/* START POPUP KUVAKE*/
.startButton {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.781);
}
#startGame {
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
    top: 45%;
    
}

.mainbase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    background-color: var(--grape-kiss);
    border-width: 4px;
    border-style: solid;
    border-color: var(--bundaberg-sand);
    width: 80%;
    height: 40em;
    overflow: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    top: 2rem;
}
.gameSection1 h2 {
    color: azure;
    text-align: center;
    margin: 0em;
    padding: 0em;
}

.gameSection1 h3 {
    color: rgb(207, 207, 207);
}
.playerStats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 2;
    text-align: center;
    
    
    margin: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--bundaberg-sand);
}

.playerInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 2;
    text-align: center;

    margin: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--bundaberg-sand);
}

.gameSection2 {
    display: block;
}

.maplayout {
    text-align: center;
    width: 100%;
    height: 100%;
}
/* mäppi id shitit*/
#map {
    width: 100%;
    height: 100%;
    margin: 0em;
    padding: 0em;
}



/* ------------------------------------------
  |             -  tutorial -               |
  |                                         |
  |         sivun pohja / .layout           |
  |                                         |
  |                                         |
   ------------------------------------------
*/
footer {
    margin: 5em;

}
.leaderbase{
    display: block;
    margin: auto;
    background-color: var(--grape-kiss);
    border-width: 4px;
    border-style: solid;
    border-color: var(--bundaberg-sand);
    width: 80%;
    overflow: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position:relative;
    top: 2rem;
}

.leadertitle h1 {
    text-align: center;
    font-size: 4rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

#bestPlayers {
    text-align: center;
}

#bestPlayers ol {
    font-size: 34px;
    font-weight: bold;
    display: inline-block;
    color: transparent;
    background-image: linear-gradient(to left, gold, var(--bundaberg-sand),palegoldenrod, lightgoldenrodyellow);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 500%;
    background-size: 500%;
}

/* Animoi top pelaajien nimien värit */

@keyframes animate {
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0%;
    }
    0%{
        background-position: 0 100%;
    }

}


/* ------------------------------------------
  |              -  about -                 |
  |                                         |
  |         sivun pohja / .layout           |
  |                                         |
  |                                         |
   ------------------------------------------
*/

.aboutbase{
    display:block;
    margin: auto;
    background-color: var(--grape-kiss);
    border-width: 4px;
    border-style: solid;
    border-color: var(--bundaberg-sand);
    width: 80%;
    overflow: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position:relative;
    top: 2rem;
}

.aboutsection1 h1 {
    text-align: center;
    font-size: 4rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.aboutsection1 p{
    text-align: center;
    font-size: 24px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 1rem;

}
.aboutsection2 h2{
    font-size: 2rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    margin: 0rem;
}

.goodbye {
    float: right;
    margin-right: 13rem;
    margin-bottom: 5rem;
}

.aboutsection2 p{
    font-size: 24px;
    padding-top: 1.5rem;
    padding-left: 5rem;
    margin: 0rem;
}
