<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" defer></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js" defer></script>
    <script src="../static/main.js" defer></script>
    <title>FlightQuiz</title>
    <link rel="icon" href="../static/images/fqlogo.png" type="image/png">
</head>

<body>

    <div id="map"></div>

    <div class="navbar">
        <header>
            <img id="fqlogo" src="../static/images/fqlogo.png" alt="fqlogo">
        </header>
        <a href="mainkehitys.html">Play</a>
        <a href="tutorialkehitys.html">Tutorial</a>
        <a href="aboutkehitys.html">About</a>
    </div>

    <div class="aboutbase">
        <main>
    
        </main>
    </div>
    <footer>FlightQuiz &copy; 2024</footer>
</body>
</html>