<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" defer></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js" defer></script>
    <script src="../static/main.js" defer></script>
    <title>FlightQuiz</title>
    <link rel="icon" href="../static/images/fqlogo.png" type="image/png">
</head>

<body>

    <div id="map"></div>

    <div class="navbar">
        <header>
            <img id="fqlogo" src="../static/images/fqlogo.png" alt="fqlogo">
        </header>
        <a href="mainkehitys.html">Play</a>
        <a href="leaderboardskehitys.html">Leaderboards</a>
        <a href="aboutkehitys.html">About</a>
    </div>

    <div class="aboutbase">

        <div id="aboutsection1" class="aboutsection1">
            <h1>Tervetuloa pelaamaan FlightQuiz peliä!</h1>
            <p>Kun aloitat pelin, sinua pyydetään valitsemaan, haluatko aloittaa seikkailun lentämällä ympäri maailmaa. Valintasi jälkeen sinun tulee valita lentokone, jolla haluat lentää. Sinulla on valittavanasi kolme vaihtoehtoa, ja jokaisella lentokoneella on omat ominaisuutensa, kuten nopeus ja polttoaineen kulutus. Kun olet valinnut lentokoneen, seikkailu alkaa!</p>
            <p>Lentokenttä, josta lähdet, arvotaan satunnaisesti suurimpien lentokenttien joukosta ympäri maailmaa. Matkan varrella sinulle esitetään erilaisia kysymyksiä. Jos vastaat oikein, saat pisteitä ja pääset jatkamaan matkaa seuraavalle lentokentälle. Mutta jos vastaat väärin, peli päättyy siihen. Oikein vastattuasi kysymykseen näet saamasi pisteet sekä käyttämäsi lentoaika ja lentokoneen aiheuttamat päästöt. Matkan päätteeksi näet kokonaispisteet ja voit halutessasi tallentaa ne korkeimpien pisteiden listalle vertailua varten.</p>
            <p>Matkan varrella näet myös matkojen kokonaismäärän, kunkin lentokentän välisen ajan ja hiilidioksidipäästöjen määrän valitsemallasi lentokoneella. Samat tiedot näytetään myös pelin loputtua. Valmistaudu siis lentämään ympäri maailmaa, vastaamaan kysymyksiin ja keräämään pisteitä matkasi varrella!
            </p>
            </div>


        <div id="aboutsection2" class="aboutsection2">

            <h2>Pelin kehittäjät a.k.a Soossi Mestarit:</h2>
            <img class="goodbye" src="https://placehold.jp/400x400.png" alt="goodbye">
            <p>Eemil Nurmi</p>
            <p>Onni Kivinen</p>
            <p>Rene Kilpeläinen</p>
            <p>Patrik Skogberg</p>

        </div>

    </div>
    <footer>FlightQuiz &copy; 2024</footer>
</body>
</html>