<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="../static/styles.css">
    <title>FlightQuiz</title>
    <link rel="icon" href="../static/images/fqlogo.png" type="image/png">
    <script src="../static/leaderboard.js" defer></script>
</head>

<body>

    <div class="navbar">
        <header>
            <img id="fqlogo" src="../static/images/fqlogo.png" alt="fqlogo">
        </header>
        <a href="main.html">Play</a>
        <a href="leaderboards.html">Leaderboards</a>
        <a href="about.html">About</a>
    </div>

    <div class="leaderbase">
        <div class ="leadertitle">
            <h1>PARHAAT PELAAJAT</h1>
        </div>
    </div>
    <footer>FlightQuiz &copy; 2024</footer>
</body>
</html>