<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" defer></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js" defer></script>
    <script src="../static/main.js" defer></script>
    <title>FlightQuiz</title>
    <link rel="icon" href="../static/images/fqlogos.png" type="image/png">
</head>
<body>
    <div class="navbar">
        <header>
            <img id="fqlogo" src="../static/images/fqlogo.png" alt="fqlogo">
        </header>
        <a href="main.html">Play</a>
        <a href="leaderboards.html">Leaderboards</a>
        <a href="about.html">About</a>
    </div>
    <div class="fqtitle">
        <img class="fqtitle" src="../static/images/flightquiztitle.png" alt="titlelogo">
        </div>
    <div class="mainbase">
        <div id="startButton" class="startButton">
            <button id="startGame" onclick="promptForName()">Start Game</button>
        </div>
        <div class="maplayout">
            <div id="map"></div>
        </div>
        <div class="game">
            <div class="gameSection1">
                <h2>Player Stats</h2>
                <div class="playerStats">
                    <!-- NÄÄ PITÄÄ VIELÄ MÄÄRITTÄÄ OMIKS ID:EIKSI-->
                    <h3>Points</h3>
                    <h3>Distance</h3>
                    <h3>Time</h3>
                    <h3>CO2</h3>
                    <p id="points">0 </p>
                    <p id ="distance">0 km</p>
                    <p id="time">0 h</p>
                    <p id="co2">0 kg</p>
                </div>
                <h2>Player Info</h2>
                <div class="playerInfo">
                    <!-- NÄÄ PITÄÄ VIELÄ MÄÄRITTÄÄ OMIKS ID:EIKSI-->
                    <h3>Name</h3>
                    <h3>Model</h3>
                    <h3>Current Airport</h3>
                    <h3></h3>
                    <div id="playerName"></div>
                    <div id="planeModel"></div>
                    <div id="currentAirport"></div>
                </div>
            </div>
            <div class="gameSection2">
                <div id ="modelChoice" class="modelChoice">
                    <h2>Choose your airplane model:</h2>
                    <button value="1" id="model1">Boeing 737</button>
                    <button value="2" id="model2">Airbus A320</button>
                    <button value="3" id="model3">Saab JA37 Viggen</button>
                </div>
                <div id ="quiz" class="questions" style="display:none">
                    <h2 id="question"></h2>
                    <form>
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">

                    </form>
                </div>

                <div id="quitScreen" style="display:none">
                    <h1>Game Over!</h1>
                    <p>Your stats were:</p>
                    <p id="points">0 </p>
                    <p id ="distance">0 km</p>
                    <p id="time">0 h</p>
                    <p id="co2">0 kg</p>
                </div>

            </div>
        </div>
        </div>

        
        <div class="helpbuttonelement">
            
            <button type="submit" class="helpbutton" onclick="openPopup()">
                
                <img src="../static/images/onnihelp.png" alt="helpbutton">
                
            </button>
            
            <div class="helppop" id="helppop">
                
                <h1>Heya, Captain!</h1>
                <p>I'm your trusty co-pilot A.I O.N.N.I (Omnipotent, Neat, Navigation, Instructor)!</p>
                <p>Your main goal is to hop from airport to airport. You as a player is bombarded with offbeat trivia questions about each country you visit. Your journey will be filled with laughter and learning. But remember, with only one wrong answer, your plane will make an emergency landing ending your journey...</p>
                <p>After the game ends, your will be scored based on the points, distance and co2 usage. How far can you reach without making a mistake? Let's find out!</p>
                <p>Feel free to click on me anytime if you'd like to read this text again!</p>
                <img class="onnipop" src="../static/images/onni.gif" alt="smiling_robot">
                <h2>GOOD LUCK, CAPTAIN!</h2>
                <p>(...also if you see any errors while playing the game, make sure the server is running!)</p>
                <button type="button" onclick="closePopup()">OK</button>
                
            </div>

            <footer>FlightQuiz &copy; 2024</footer>
        </body>
</html>